#!/bin/sh

set -e

AA=../aardwarc
ADIR=${TMPDIR-/tmp}/_test_aardward
mkdir -p ${ADIR}
AXEC="${AA} -c ${ADIR}/aardwarc.conf"

new_aardwarc() (
	rm -rf ${ADIR}
	mkdir -p ${ADIR}

	(
	echo "WARC-Record-ID:"
	echo "		file://`pwd`/$$/ 	128"
	echo ""
	echo "warcinfo.body:"
	echo "	description:	http://github/bsdphk/Aardwarc testrun"
	echo ""
	echo "silo.directory:"
	echo "		${ADIR}/"
	echo ""
	echo "silo.max_size:"
	echo "		15k"
	echo ""
	echo "silo.basename:"
	echo "		%08u.warc.gz"
	echo ""
	echo "resource.mime-types:"
	echo "		application/octet-stream"
	echo "		text/plain"
	echo ""
	echo "metadata.mime-types:"
	echo "		text/plain"
	echo "		application/json"
	echo ""
	) > ${ADIR}/aardwarc.conf

)

fail ( ) (
	expect=$1
	shift
	pattern=$1
	shift
	echo "#### $0 '$*'"
	set +e
	$* > ${ADIR}/_ 2>&1
	status=$?
	set -e
	if [ $status -ne $expect ] ; then
		echo "#### $0 Expected status $expect got status $status"
		sed 's/^/	/' ${ADIR}/_
		exit 1
	fi
	if ! grep -q "$pattern" ${ADIR}/_ ; then
		echo "#### $0 pattern $pattern not found in"
		sed 's/^/	/' ${ADIR}/_
		exit 1
	fi
)

